@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black;
  --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: black;
  }
}
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #383838 transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #383838;
  border-radius: 3px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

:focus-visible {
  outline: 2px solid #969494;
  outline-offset: 2px;
  border-radius: 2px;
}

.glass{
  background-color: #f2f2f20d;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(25px);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}



@media (min-width: 1280px) {
  .grad {
    z-index: 1;
    position: relative;
    --gradient-start: #184969;  /* Default color */
    --gradient-end: black;     /* Default color */
  }
  
  .grad::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
    border-radius: 0.5rem
  }
  
  .grad:hover::before {
    opacity: 1;
  }
}

@media not all and (min-width: 1280px){
  .grad{
    background: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
  }
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

.text-custom{
  font-size: 0.85rem /* 12px */;
  line-height: 1rem /* 16px */;
}


